[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "<1.0.0"
scipy = "*"
jupyterlab = "*"
ipykernel = "*"
scikit-learn = "*"
seaborn = "*"
ipywidgets = "*"
statsmodels = "*"

[requires]
python_version = "3.6"
